<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="mainApp">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.MODIFY_PHONE_STATE"
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/nice_launcher"
        android:label="WeMap"
        android:roundIcon="@mipmap/nice_launcher"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".HomeActivity"
            android:label="WeMap" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:label="WeMap">
            <intent-filter>
                <action android:name="android.intent.action.CALL" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".InstitutionActivity"
            android:label="WeMap">
            <intent-filter>
                <action android:name="android.intent.action.INSTITUTION" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".LocationActivity"/>
        <activity android:name=".BuildingActivity"/>
        <activity android:name=".InOutCorrActivity"/>
        <activity android:name=".RoomNameActivity"/>
        <activity android:name=".SaveActivity"/>
        <activity android:name=".OnboardingActivity"/>
        <activity android:name=".RoomGridActivity"/>
        <activity android:name=".Corridor" />
        <activity android:name=".RegistrationActivity" />




        <service
            android:exported="false"
            android:name="com.novoda.merlin.service.MerlinService" />
      </application>





</manifest>